<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
    <title>Новости</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>
<body>
    {% block body %}


    <div class="container" style="background-color: #F8F9FA; margin-top: 1%;">



        <div>
            <div class="container-fluid">
    
                <h3>Информация про GPT-3.5 Turbo</h3>
                <p>GPT-3 — третье поколение алгоритма обработки естественного языка от OpenAI. Модель, по заявлению разработчиков, может быть использована для решения «любых задач на английском языке». За счет универсальности и гибкости модели ее можно использовать не только для создания текста, но и в десятках других сложных сценариев.
                </p>

                <p>1.Анализ настроений текста, их классификация на положительные и отрицательные;</p>
                <p>2.Из пункта 1. следует возможность использования для алгоритмов детоксификации, то есть, автоматического редактирования отрицательных текстов в положительные;</p>
                <p>3.Ранжирование картинок и подписей к ним – своеобразное computer vision решение, которое относит подпись к нужному изображению;</p>
                <p>4.Симплификация / суммаризация / резюмирование текстов, то есть, создание краткого пересказа, поданного на вход текста с сохранением смысла;</p>
                <p>5.Сервисы по генерации текста – Копирайтинг – Рерайтинг электронных писем, рекламных объявлений и прочего на заданную тему;</p>
                <p>6.Рекомендательные системы – анализ ранних запросов пользователей, список составленных предпочтений и предложение релевантного контента;</p>
                <p>7.Перевод текстов на различные языки;</p>
                <p>8.Чат боты для поддержания как неформальной беседы, так и в качестве составной части виртуального ассистента;</p>
                <p>9.Генерация программного кода по запросу пользователя</p>
    
            </div>
        </div>
    
        
        <div>
            <div class="container-fluid">
    
                <h3>Примеры работ нейронной сети:</h3>
            </div>
        </div>
    
        
            
    
    
        
                          
        <img src="https://habrastorage.org/getpro/habr/post_images/9e5/89f/215/9e589f215ec35e721386c761128672b2.gif" class="d-block w-100 mb-3 mt-3" alt="...">
                            


    
    
    </div>
    

    {% endblock %}
</body>
</html>