<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
    <title>Витрина</title>
    <link
        rel="shortcut icon"
        href="{{ url_for('static', filename='fractal_icon.jpg') }}"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>
<body>
    {% block body %}

    <!-- <img src="{{ url_for('static', filename='fractal_icon.jpg') }}" class="icon" /> -->

    <div class="container mt-3">

        
        <h3 class="container mb-3">В данном разделе вы можете увидеть профили, сгенерированные для других людей</h2>
        <div>
            <form>
                {% for user in users %}

                    

                    <div class="form-control p-3 mb-2 bg-secondary text-white">
                        
                        <h4>{{ user.fio }}</h4>
                        <p>{{ user.profile_description }}</p>
                        <img class="user" src={{ user.photo_url }}>



                    </div>




                
            





                    
                {% endfor %}
            </form>
            
        </div>


    </div>
    

    {% endblock %}
</body>
</html>